.product-detail {
  height: 100%;
  width: 100%;
  &__others {
    width: 700px;
    margin: 0 auto;
    &__section {
      &__box {
        font-weight: bold;
        margin: 24px 0 8px;
        font-size: 22px;
        line-height: 1.4;
        &__head {
          touch-action: manipulation;
          color: $link_blue;
          text-decoration: none;
        }
      }
      &__item {
        margin-bottom: 40px;
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        &__box {
          margin: 0 0 20px 20px;
          height: 330px;
          float: left;
          display: block;
          width: 220px;
          &__href {
            height: 330px;
            display: block;
            color: $txt_black;
            position: relative;
            &__figure {
              width: 220px;
              height: 220px;
              overflow: hidden;
              padding: 0 0 100%;
              &__image {
                width: 220px;
                height: 220px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                opacity: 1;
                transition: opacity .3s;
                vertical-align: middle;
              }
              &__figcaption {
                &__sold-out {
                  &__budge {
                    top: 18px;
                    font-size: 26px;
                    position: absolute;
                    left: 0;
                    z-index: 2;
                    color: $white;
                    transform: rotate(-45deg);
                    letter-spacing: 2px;
                    font-weight: 600;
                  }
                }
              }
            }
            &__body {
              position: absolute;
              top: 220px;
              left: 0;
              width: 188px;
              background: $white;
              padding: 16px;
              height: 78px;
              &__name {
                color: $txt_black;
                font-size: 16px;
                overflow: hidden;
                position: relative;
                font-weight: 400;
                height: 2em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
              }
              &__num {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 8px 0 0;
                &__price {
                  font-size: 17px;
                  font-weight: 600;
                  color: $txt_black;
                }
                &__good {
                  font-weight: 600;
                  color: $txt_black;
                  &__icon {
                    color: $light_gray;
                  }
                }
              }
              &__tax {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.product-detail__others__section__item__box__href__figure__figcaption__sold-out:after {
  border-width: 100px 100px 0 0;
  border-color: $bottn_red transparent transparent transparent;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-style: solid;
}

.product-detail__others__section__item__box:nth-child(3n + 1) {
  margin: 0 0 20px;
}