.bread-crumbs
  %ul.bread-crumbs__crumbs
    %li.bread-crumbs__crumbs__roots
      %span.bread-crumbs__crumbs__roots__homename
        メルカリ
      %i.fa.fa-angle-right
    %li.bread-crumbs__crumbs__this-page
      %span.bread-crumbs__crumbs__this-page__pagename
        マイページ
