.header_signup6

.signup6
  .signup6__main
    .signup6__main__head
      会員登録完了
    .signup6__main__info
      .signup6__main__info__thanks
        ありがとうございます。
      .signup6__main__info__thanks
        会員登録が完了しました。
      .signup6__main__info__btn
        = link_to root_path, class: 'signup6__main__info__btn__start' do
          メルカリを始める
.footer_signup6