.product-detail__media
  .product-detail__media__box
    = link_to root_path, class: 'product-detail__media__box__icons' do
      %i.fab.fa-facebook-square.product-detail__media__box__icons__facebook
    = link_to root_path, class: 'product-detail__media__box__icons' do
      %i.fab.fa-twitter-square.product-detail__media__box__icons__twitter
    = link_to root_path, class: 'product-detail__media__box__icons' do
      %i.fab.fa-pinterest-square.product-detail__media__box__icons__pinterest