.logo-footer {
  width: 456px;
  height: 140px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  ul {
    @include clearfix;
    font-size: 0;
    li:first-child {
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 12px;
    }
  }
  a {
    display: block;
    color: #333;
  }
  p {
    margin: 8px 0 0;
  }
  small {
    font-size: 13px;
  }
  &--img {
    margin: 40px auto 0;
  }
}
