.sell-main {
  &__container {
    width: 700px;
    margin: 0 auto;
    background: $white;
    &__inner {
      &__head {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        margin: 0;
      }
      &__form {
        &__upload-box {
          border-top: 1px solid $bottn_line;
          width: 620px;
          padding: 40px;
          p {
            margin: 8px 0 0;
            line-height: 1.5;
          }
          &__head {
            font-size: 16px;
            &--require {
              background: $bottn_red;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: $white;
              font-size: 12px;
              vertical-align: top;
            }
          }
          &__dropbox {
            display: flex;
            flex-wrap: wrap;
            width: 620px;
            margin: 16px auto 0;
            &__container {
              display: inline-flex;
              box-sizing: border-box;
              flex-wrap: wrap;
              &__items {
                display: inline-flex;
                &__item:first-of-type {
                  margin: 0 0 10px 0;
                }
                &__item {
                  width: 116px;
                  margin: 0 0 10px 10px;
                  &__figure {
                    width: auto;
                    height: auto;
                    padding: 0;
                    line-height: 116px;
                    img {
                      position: static;
                      transform: none;
                      top: 50%;
                      left: 0;
                      width: 100%;
                      cursor: default;
                    }
                  }
                  &__button {
                    @include clearfix;
                    font-size: 14px;
                    line-height: 44px;
                    background: $background_white;
                    text-align: center;
                    a {
                      color: $link_blue;
                    }
                    &__edit {
                      width: 50%;
                      float: left;
                    }
                    &__destroy {
                      width: 50%;
                      border-left: 1px solid $bottn_line;
                      box-sizing:border-box;
                      float: right;
                    }
                  }
                }
              }
            }
            &__upload {
              flex: 1;
              width: 100%;
              &__wrap {
                box-sizing: border-box;
                background-color: $background_white;
                border: 1px dashed $light_gray;
                max-width: 100%;
                min-width: 112px;
                height: 160px;
                padding: 40px;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                position: relative;
                &__input {
                  display: none;
                }
                &--visible {
                  position: absolute;
                  margin: 0;
                  top: 50%;
                  left: 50%;
                  text-align: center;
                  white-space: pre-wrap;
                  word-wrap: break-word;
                  cursor: pointer;
                  transform: translate(-50%, -50%);
                }
              }
              &--icon {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
              }
            }
          }
        }
        &__content {
          padding: 40px;
          border-top: 1px solid $bottn_line;
          @include clearfix;
          &__head {
            color: $medium_gray;
            font-size: 14px;
            display: inline-block;
          }
          &--blue-icon {
            color: $link_blue;
          }
          &__btn {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            &--red {
              @extend .sell-main__container__inner__form__content__btn;
              margin: 40px 0 0;
              background: $bottn_red;
              border: 1px solid $bottn_red;
              color: $white;
            }
            &--grey {
              @extend .sell-main__container__inner__form__content__btn;
              width: 45%;
              margin: 24px auto 0;
              background: $border_solid;
              border: 1px solid $border_solid;
              color: $white;
            }
          }
          &__group {
            margin-top: 40px;
            &:first-child {
              margin-top: 0;
            }
            label {
              font-weight: 600;
            }
            &--require {
              background: $bottn_red;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: $white;
              font-size: 12px;
              vertical-align: top;
            }
            &__input {
              width: calc(100% - 40px);
              margin: 8px 0 0;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid $light_gray;
              background: $white;
              line-height: 1.5;
              font-size: 16px;
              outline: 0;
            }
            &__textarea {
              display: block;
              width: calc(100% - 30px);
              max-width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid $light_gray;
              background: $white;
              font-size: 16px;
              line-height: 1.5;
            }
          }
          &__box {
            float: right;
            width: 400px;
            margin: 0;
            &__group {
              margin-top: 40px;
              &:first-child {
                margin-top: 0;
              }
              label {
                font-weight: 600;
              }
              &--require {
                background: $bottn_red;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: $white;
                font-size: 12px;
                vertical-align: top;
                &--grey {
                  @extend .sell-main__container__inner__form__content__box__group--require;
                  background: $light_gray;
                }
              }
              &__wrap {
                position: relative;
                background: $white;
                margin: 8px 0 0;
                select {
                  width: 100%;
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid $light_gray;
                  background: $white;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  outline: 0;
                }
                &--icon {
                  position: absolute;
                  right: 16px;
                  top: 50%;
                  z-index: 2;
                  color: $medium_gray;
                  font-size: 8px;
                  transform: translate(0, -50%);
                }
              }
            }
            &__price {
              @include clearfix;
              li {
                padding: 12px 0 12px;
                border-top: 1px solid $light_gray;
                &:first-child {
                  padding: 0 0 24px;
                  border: 0;
                }
              }
              &__group {
                width: 100%;
                &:first-child {
                  margin: 0;
                }
                &__wrap {
                  @include clearfix;
                  &--left {
                    width: 50%;
                    line-height: 48px;
                    font-weight: 600;
                    float: left;
                    &--require {
                      background: $bottn_red;
                      margin: 0 0 0 8px;
                      padding: 2px 4px;
                      border-radius: 2px;
                      color: $white;
                      font-size: 12px;
                      line-height: 19px;
                    }
                  }
                  &--right {
                    width: 50%;
                    float: right;
                    &__wrap {
                      display: inline-block;
                      width: 70%;
                      margin: 0 0 0 5%;
                      &__input {
                        margin: 0;
                        text-align: right;
                        width: 100%;
                        padding: 10px 16px 8px;
                        border-radius: 4px;
                        border: 1px solid $light_gray;
                        background: $white;
                        line-height: 1.5;
                        font-size: 16px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
