//【このヘッダーについて】プログレスバーをsignup3用に作成しています。
.all-signup__header{
  text-align: center;
  height: 128px;
  h1 {
    margin: 40px 0 0;
    display: inline-block;
    a{
      width: 185px;
      height: 49px;
      line-height: 49px;
      img {
        width: 180px;
        height: auto;
      }
    }
  }
  .progress {
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    &-bar{
      @include clearfix;
      margin: 0;
      li{
        margin: 0 40px 0 0;
        padding: 0;
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 60px;
        font-size: 12px;
        color: $medium_gray;
        .progress-status{
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: $light_gray;
          border-radius: 50%;
        }
      }
    }
  }
}



// デフォルトのプログレスバー
.progress-status:before {
  right: 50%;
}
.progress-status:before, .progress-status:after {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: $light_gray;
}

// サイドのハミ出たバーを消している
.through .progress-status::before {
  right: -50%;
  }
.end .progress-status::after{
  left: -50%;
}

// 赤い部分の調整[WIP]
.through {
  .progress-status {
    background: $bottn_red;
  }
}