body {
  background-color: rgb(245, 245, 245);
}
.header {
  height: 150px;
}

.product-detail {
  height: 100%;
  width: 100%;
  &__item {
    width: 700px;
    background-color: #fff;
    margin: 40px auto 0;
    padding: 24px 40px 40px;
    box-sizing: border-box;
    &__name {
      font-family: 'arial black';
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    &__main {
      height: 420px;
      width: 100%;
      margin-top: 16px;
      &__photo {
        height: 100%;
        width: 100%;
        float: left;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        line-height: 0;
        &__biggest {
          height: 300px;
          width: 300px;
        }
        &__mini-box {
          height: 120px;
          &__dot {
            height: 60px;
            width: 20%;
            float: left;
            position: relative;
            overflow: hidden;
            display: inline-block;
            opacity: .4;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.footer {
  height: 100%;
  width: 100%;
  clear: both;
}