.white{
  background-color: $white;
  display: block;
  .top-carousel {
    height: 390px;
    overflow: hidden;
    position: relative;
    &-stage-outer{
      height: 100%;
      position: relative;
      overflow: hidden;
      &-owl-stage {
        position: relative;
        &-item{
          height: 100%;
          width: 100%;
          min-height: 1px;
          float: left;
        }
      }
    }
  }
  .slick-prev{
    height: 80px;
    width: 80px;
    background-image: image-url("hidari.png");
    z-index: 100;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slick-next{
    height: 80px;
    width: 80px;
    background-image: image-url("migi.png");
    z-index: 100;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slick-dots li button{
    &::before{
      height: 15px;
      width: 15px;
      background-color: rgb(116, 116, 116);
      border-radius: 50%;
    }
  }
  
}
.cloned{
  .top-main-visual {
    display: block;  
    background: image-url("main_bg_pc.jpg");
    background-size: cover;
    height: 390px;
    >div {
      position: relative;
      max-width:  860px;
      height: 100%;
      margin: 0 auto;
      .top-main-visual-content {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        h2 {
          font-size: 60px;
          line-height: 1.2;
          margin: 0;
        }
        p {
          margin: 16px 0 0;
          font-size: 18px;
          line-height: 1.77778;
        }
        .top-main-visual-store {
          @include clearfix();
          margin: 24px 0 0;
          line-height: 0;
          >a:first-child {
            margin: 0;
          }
          >a {
            display: inline-block;
            width: 128px;
            height: 38px;
            margin: 0 0 0 8px;
            img {
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
      >img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
        vertical-align: bottom;
      }
    }
  }
}
.active{
  .top-banner {
    background-image: image-url("index_keyvisual.png");
    background-color: rgb(231, 223, 221);
    display: block;
    background-size: 700px;
    background-position: center;
    height: 390px;
    background-repeat: no-repeat;
  }
}
.nuko{
  .top-banner {
    background-image: image-url("miyagito1.png");
    background-color: rgb(77, 33, 55);
    display: block;
    background-size: 520px;
    background-position: center;
    height: 390px;
    background-repeat: repeat;
  }
}
.donarudo{
  .top-banner {
    background-image: image-url("tenor.gif");
    display: block;
    background-size: 520px;
    background-position: center;
    height: 390px;
    background-repeat: repeat;
    p{
      padding: 10px 0 0;
      font-size: 16px;
      line-height: 1.77778;
      text-align: center;
      color: $white;
    }
  }
}

