.header-signup-main {
  height: 128px;
}
.signup {
  width: 100%;
  height: 100%;
    &__box {
      width: 700px;
      height: 100%;
      margin: auto;
      background-color: #fff;
        &__header {
          font-size: 1.5em;
          font-weight: bold;
          height: 33px;
          width: 668px;
          padding: 32px 16px;
          text-align: center;
          border-bottom: 1px solid #e6e8eb;
         } 
        &__main {
          height: 182px;
          width: 572px;
          padding: 64px;
            &__content {
              width: 320px;
              height: 100%;
              margin: auto;
              font-size: 14px;
              text-align: center;
              line-height:  48px;
                &__mail {
                  height: 50px;
                  width: 320px;
                  background-color: #e6e8eb;
                  cursor: pointer;
                    .icon-mail {
                      font-size: 26px;
                      color: #ccc;
                      float: left;
                      padding: 10px 0 0 10px;
                      }
                    }
                &__facebook {
                  height: 50px;
                  width: 320px;
                  color: #fff;
                  background-color: #385185;
                  margin-top: 16px;
                  cursor: pointer;
                    .icon-facebook {
                      float: left;
                      padding: 10px 0 0 10px;
                      font-size: 30px;
                    }
                }
                &__google {
                  height: 50px;
                  width: 320px;
                  background-color: #fff;
                  margin-top: 16px;
                  cursor: pointer;
                  border: 1px solid;
                    .icon-google {
                      float: left;
                      padding: 15px 0 0 10px;
                      font-size: 16px;
                    }
                }
      }
    }
  }
}
.footer-signup-main{
  height: 128px;
}






