.header-signup5-main {
  height: 128px;
}

.signup5 {
  height: 100%;
  width: 100%;
  &__box {
    background-color: $white;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
    width: 700px;
    &__header {
      border-bottom: 1px $background_white solid;
      font-size: 22px;
      line-height: 33px;
      height: 33px;
      width: 668px;
      padding: 32px 16px;
      margin: 0;
    }
    &__main {
      height: 573px;
      width: 350px;
      margin: 40px auto 0;
      font-size: 20px;
      &__form {
        &__group {
          height: 127px;
          width: 350px;
          margin-top: 40px;
          text-align: left;
          display: inline-block;
          &__creditcard {
            font-size: 14px;
            font-weight: bold;
          }
          &__span {
            padding: 3px;
            border-radius: 4px;
            background: $bottn_red;
            font-size: 12px;
            color: $white;
            margin-left: 10px;
          }
          &__field {
            width: 308px;
            line-height: 1;
            font-size: 14px;
            border-radius: 4px;
            height: 48px;
            padding: 0 20px;
            margin: 5px 0;
            border: 1px solid $light_gray;
          }
          &__credit-img {
            height: 30px;
            width: 350px;
          }
          &__birthday {
            height: 116px;
            width: 350px;
            &__wrap {
              height: 58px;
              &__registration {
                width: 140px;
                height: 48px;
                margin: 5px 0;
                background: $white;
                border: 1px solid $light_gray;
              }
            }
          }
          &__submit {
            background: $bottn_red;
            border: 1px solid $bottn_red;
            color: $white;
            margin-top: 40px;
            width: 100%;
            line-height: 48px;
            font-size: 18px;
            padding: 0 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.footer-signup5-main {
  height: 128px;
}