.pickup-container{
  padding: 40px 0;
  background-color: $background_white;
  .pickup-head{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  } 
  .items-box__container{
    width: 940px;
    margin: 0 auto;
    @include clearfix;
    &__title{
      font-size: 22px;
      margin: 26px 11px;
      text-align: center;
      @include clearfix;
    }
    .items-box__content{
      @include clearfix;
      width: auto;
      padding: 0;
      margin: 0 auto;
      .item-box {
        margin: 0 0 0 20px;
        width: 213px;
        position: relative;
        float: left;
        background: $white;
        a{
          display: block;
          color: $txt_black;
          text-decoration: none;
          touch-action: manipulation;
          .item-box__photo{
            width: 213px;
            height: 220px;
            overflow: hidden;
            position: relative;
            margin: 0;
            &-lazyloaded{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 220px;
              height: 220px;
              object-fit: cover; 
              opacity: 1;
              vertical-align: middle;
            }
          }
        }
        &__body{
          height: 90px;
          padding: 16px;
          color: $txt_black;
          &__name{
            @include font-2;
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
          }
          &__num{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0 0;
            &__price{
              @include font-5;
            }
            .far.fa-heart{
              @include font-2;
              color: $light_gray;
            }
          }
          .item-box-tax{
            font-size: 10px;
          }
        }
      }
    }
  }
}

.view-all{
  width: 100%;
  text-align: right;
  padding: 20px 0 30px 0;
  a{
    color: $link_blue;
    text-decoration: none;
    margin-top:10px; 
  }
}
