.purchase-footer{
  width: 456px;
  max-height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  li{
    display: block;
    font-size: 12px;
    margin: 0 0 16px 0;
  }
  &-logo{
    img{
      padding-top: 30px;
    }
  }
  p{
    padding-top:  5px;
  }
}

@media screen and (min-width: 768px){
  .purchase-footer li {
    display: inline-block;
  }
}
