%div.items-box
  = link_to "https://item.mercari.com/jp/m10844399901/" do
    %figure.items-box__photo
      = image_tag "https://static.mercdn.net/thumb/photos/m10844399901_1.jpg?1555152770", class:"lazyloaded",alt: "USA製 90's ヴィンテージ 古着 LONDON FOG 総柄ニットベスト"
    .items-box__body
      %h3.items-box__body__name.font-2 USA製 90's ヴィンテージ 古着 LONDON FOG
      .items-box__body__num
        .items-box__body__num__price.font-5 ¥ 6,890
        .font-2
          %i.far.fa-heart
          %span 1
      %p.item-box-tax (税込)
