%li
  = link_to root_path ,class:"mypage-item-linka" do
    %span
      = image_tag "mercari_profile.png", class: "mypage-avator", alt: ""
    .mypage__item__body
      .mypage__item__body__text 事務局から個別メッセージ「どうしたら良いコードかかけるのか？」「早く書きたいプログラマーのサガ」
      %time
        %i.far.fa-clock
        %span 1 日前
    %i.fas.fa-chevron-right